<!-- TODO: should we check for footer region first? -->
<footer id="footer" class="container footer">
    <div class="social-media-buttons">
        <a href="https://twitter.com/unswnews" target="_blank">
            <span class="icon-twitter"></span>
        </a>
        <a href="https://www.facebook.com/UNSWNews" target="_blank">
            <span class="icon-facebook"></span>
        </a>
    </div>
    <aside class="footer-sidebar">
        <nav id="footer-menu">
            <ul class="links inline">
                <li class="menu-834 first"><a href="http://www.unsw.edu.au/privacy" title="">Privacy</a></li>
                <li class="menu-833"><a href="http://www.unsw.edu.au/copyright-disclaimer" title="">Copyright</a></li>
                <li class="menu-832 last"><a href="http://www.unsw.edu.au/accessibility" title="">Accessibility</a></li>
            </ul>
        </nav>
    </aside>
    <div class="footer-content">
        <div id='boxes-box-footer_blurb' class='boxes-box'>
            <div class="boxes-box-content">
                <p><strong>Media Office, UNSW Sydney NSW 2052 Australia</strong><br />
                    Telephone. +61 2 9385 2864, Email. <a href="mailto:media@unsw.edu.au">media@unsw.edu.au</a><br />
                    Authorised by Director, Media Office, UNSW<br /><strong>Provider Code</strong>: 00098G <strong>ABN</strong>:
                    57 195 873 179</p>
            </div>
        </div>
    </div>
</footer>