<header id="header">
    <div class="header-top container">
        <div class="logotype">
            <a href="https://unsw.edu.au" title="UNSW Home" class="logo"><img src="{{networkData.templatePath}}/static/images/logo.png" alt="UNSW Home" /></a>
            <a href="/" title="Home" rel="home" class="site-name">Newsroom</a>
        </div>
        <nav id="secondary-menu">

            <ul class="secondary-menu links inline clearfix">
                <li class="menu-914 first"><a href="http://newsroom.unsw.edu.au/news/subscribe" title="">Subscribe</a></li>
                <li class="menu-659"><a href="javascript:;">Find an Expert</a></li>
                <li class="menu-831"><a href="javascript:;" title="">Contact Us</a></li>
                <li class="menu-661"><a href="javascript:;">Publications</a></li>
                <li class="menu-660 last"><a href="javascript:;">For Staff</a></li>
            </ul>
        </nav>
    </div>

    <div class="primary-menu-wrapper container">
        <nav id="primary-menu">
            <ul class="main-menu links inline clearfix">
                <li class="menu-836"><a href="javascript:;" title="">All News</a></li>
                <li class="menu-651"><a href="javascript:;" title="Science &amp; Tech">Science &amp; Tech</a></li>
                <li class="menu-653"><a href="javascript:;" title="Health">Health</a></li>
                <li class="menu-654"><a href="javascript:;" title="Business &amp; Law">Business &amp; Law</a></li>
                <li class="menu-655"><a href="javascript:;" title="Social Affairs">Social Affairs</a></li>
                <li class="menu-656"><a href="javascript:;" title="Art, Architecture &amp; Design">Art, Architecture &amp; Design</a></li>
                <li class="menu-657"><a href="javascript:;" title="Students">Students</a></li>
                <li class="menu-658"><a href="javascript:;" title="General">General</a></li>
                <li class="menu-484 last"><a href="javascript:;">Opinion</a></li>
            </ul>
        </nav>
    </div>
</header>