<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul id="navFooter" class="navbar-nav mr-auto">
                    <li class="nav-item first"><a href="http://sandbox.flordis.com.au/products/" class="nav-link">Products</a></li>
                    <li class="nav-item"><a href="http://sandbox.flordis.com.au/ingredients/" class="nav-link">Ingredients</a></li>
                    <li class="nav-item"><a href="http://sandbox.flordis.com.au/health-insights/" class="nav-link active">Health Insights</a></li>
                    <li class="nav-item"><a href="http://sandbox.flordis.com.au/evidence/" class="nav-link">Evidence</a></li>
                    <li class="last nav-item"><a href="http://sandbox.flordis.com.au/about-flordis/" class="nav-link">About Flordis</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-links w-clearfix">
                    <a href="http://sandbox.flordis.com.au/contact-us/" class="footer-link small">Contact Us</a>
                    <a href="http://www.sfihealth.com/careers" class="footer-link small">Careers</a>
                    <a href="http://sandbox.flordis.com.au/health-insights/cognitive-health/how-the-brain-works/#" class="footer-link small">Privacy &amp; Legals</a>
                    <div class="copyright">Copyright © 2018 Flordis Australia. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>